{% extends 'base.html' %}
{% block title %}Add Stop{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="card container" style="top: 5%; position: relative;">
        <div id="stops_table" style="width: 1fr"></div>
        <div id="stops_form_container" style="padding: 15px 15px 15px 15px">
            {% if form %}
                <h2>Add Stops</h2>
                {% crispy form %}
            {% endif %}
        </div>
    </div>

    <div class="card container mt-3">
        <header>Upload Stops</header>
        <form method="post" enctype="multipart/form-data" id="import_form2" action="{% url 'import_stops' %}">
            {% csrf_token %}
            <input type="file" name="stops" class="btn btn-secondary m-3">
            <button onclick="$('#import_form2').submit()" class="btn btn-success m-3">Upload</button>
        </form>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <h6 style="color: green"> {{ message }} </h6>
            {% else %}
                 <h6 style="color: red"> {{ message }} </h6>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>
    <script>
    	$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	    $("#stops").addClass( 'active' );
	     $("input").attr('autocomplete', 'off');
    </script>
{% endblock %}
