{% extends 'base.html' %}
{% block title %}Add Route{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<style>
    .stop_item{
        cursor: grab;
    }
</style>

    <div class="card container">
        <div id="routes_form_container" style="padding: 15px 15px 15px 15px">
            {% if form %}
                <h2>Add Route</h2>
                {% crispy form %}
            {% endif %}
        </div>
    </div>

     <div class="card container mt-3 p-2">
        <header>Upload Routes (.csv or .xls)</header>
        <form method="post" enctype="multipart/form-data" id="import_form" action="{% url 'import_routes' %}">
            {% csrf_token %}
            <input type="file" name="routes" class="btn btn-secondary m-3">
            <button onclick="$('#import_form').submit()" class="btn btn-success m-3">Upload</button>
        </form>
   {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <h6 style="color: green"> {{ message }} </h6>
            {% else %}
                 <h6 style="color: red"> {{ message }} </h6>
            {% endif %}
        {% endfor %}
    {% endif %}
    </div>


    <script>
    $("#routes_form").submit(function () {
        var sorted_stops = $( "#sort_stops" ).sortable('toArray');
        if(sorted_stops.length<2){
            alert('You must select at least 2 stops');
        }else{
            $("#stops_in_sequence").val(sorted_stops);
                {% if instance_id %}
                    $("#routes_form").append('<input hidden name="instance_id" id="instance_id" value={{ instance_id }}>');
                {% endif %}
            $("#routes_form").submit();
        }
    });
    $(document).ready(function () {
    $( "#sort_stops" ).sortable();
    $("#id_name").attr('autocomplete', 'off');
    });

    $("#id_list_of_stops option").click(function () {
        $("#sort_stops").append('<div id=' + this.innerHTML + ' class="stop_item"><span class="ui-icon ui-icon-trash" onclick="this.parentElement.remove()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>' + this.innerHTML + '</span></div>');
    });

    {% if list_of_stops %}
        {% for stop in list_of_stops %}
            $("#sort_stops").append('<div id=' + "{{stop}}" + ' class="stop_item"><span class="ui-icon ui-icon-trash" onclick="this.parentElement.remove()"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>' + "{{stop}}" + '</span></div>');
        {% endfor %}
    {% endif %}
    </script>
    <script>
    	$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	    $("#routes").addClass( 'active' );
    </script>
{% endblock %}
