{% extends 'base.html' %}
{% block title %}Import Data{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
        <div class="card container">
        <header>Upload Routes</header>
        <form method="post" enctype="multipart/form-data" id="import_form" action="{% url 'import_routes' %}">
            {% csrf_token %}
            <input type="file" name="routes.csv">
            <button onclick="$('#import_form').submit()">Upload</button>
        </form>
        </div>
<br><br>
        <div class="card container">
        <header>Upload Stops</header>
        <form method="post" enctype="multipart/form-data" id="import_form2" action="{% url 'import_stops' %}">
            {% csrf_token %}
            <input type="file" name="stops.csv">
            <button onclick="$('#import_form2').submit()">Upload</button>
        </form>
        </div>
    <script>
    	$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	    $("#import").addClass( 'active' );
    </script>
{% endblock %}
