{% extends 'base.html' %}
{% block title %}View Routes{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="panel-group" id="accordion">
        {% for route in Routes %}
        <div class="card" style="padding: 10px 15px 10px 15px; margin-bottom: 25px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ route.id }}">
                        {{ route.name }}</a>
                    </h4>
                    <a href="/routes/{{ route.id }}"><i class="material-icons" >edit</i></a>
                    <a href="/get_map/{{ route.id }}"><i class="material-icons" >map</i></a>
                    <a href="/delete/{{ route.id }}"><i class="material-icons" >delete</i></a>
                </div>
                <div id="collapse{{ route.id }}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">Direction: {{ route.get_direction_display }}</div>
                            <div class="col-md-2">Status: {{ route.get_status_display }}</div>
                            <div class="col-md-2">Type: {{ route.get_type_display }}</div>
                            <div class="col-md-6">
                                Stops:&nbsp;&nbsp;
                                <text style="color: green">Start</text>-->
                                {% for stop in route.list_of_stops %}
                                {{ stop }} -->
                                {% endfor %}
                                <text style="color: red">End</text>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    <a href="{% url 'export_routes' 'csv' %}"><button>Export to .csv</button></a>&nbsp;<a href="{% url 'export_routes' 'xls' %}"><button>Export to .xls</button></a>
    </div>
</div>
    <script>
    	$( '.navbar-nav' ).find( 'li.active' ).removeClass( 'active' );
	    $("#v_routes").addClass( 'active' );
    </script>
{% endblock %}